
#########################################################################################
## These are the required variables to run common microfrontend locally together with root.
#########################################################################################

AUTH_ALLOWED_GROUPS=mmh-project-team

COGNITO_TOKEN_NAME=hackneyCognitoToken
COGNITO_DOMAIN=
COGNITO_CLIENT_ID=
COGNITO_USER_POOL_ID=
COGNITO_PKCE_VERIFIER_SESSION_STORAGE_NAME=
