
#########################################################################################
## These are the required variables to run common microfrontend locally together with root.
#########################################################################################

COGNITO_TOKEN_NAME=hackneyCognitoToken
COGNITO_DOMAIN=
COGNITO_CLIENT_ID=
COGNITO_USER_POOL_ID=
COGNITO_PKCE_VERIFIER_SESSION_STORAGE_NAME=

AUTH_ALLOWED_GROUPS=mmh-project-team

CAUTIONARY_API_URL_V1=

CONFIGURATION_API_URL_V1=

CONTACT_DETAILS_API_URL_V1=
CONTACT_DETAILS_API_URL_V2=

CONTRACTS_API_URL_V1=

EQUALITY_INFORMATION_API_URL_V1=

HOUSINGSEARCH_API_URL_V1=

TENURE_API_URL_V1=

NOTES_API_URL_V1=
NOTES_API_URL_V2=

PERSON_API_URL_V1=
PERSON_API_URL_V2=

PROCESS_API_URL_V1=
PROCESS_API_URL_V2=

PROPERTY_API_URL_V1=

REFERENCE_DATA_API_URL_V1=

ADDRESS_API_URL_V1=
ADDRESS_API_URL_V2=

SEARCH_API_URL=

REPAIRS_HUB_APP_URL=
REPAIRS_HUB_API_URL=

HOUSING_FINANCE_INTERIM_API_URL_V1=

PATCHES_AND_AREAS_API_V1=
