{
  "extends": "@hackney/eslint-config",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prefer-arrow-callback": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "lib/test-utils.tsx",
          "**/*.+(test|spec).+(j|t)s?(x)",
          "test?(s)/**/*.+(j|t)s?(x)"
        ]
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["Label"],
        "labelAttributes": ["label"],
        "controlComponents": ["Input"],
        "assert": "htmlFor",
        "depth": 3
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref"]
      }
    ]
  }
}
