{
  "extends": "@hackney/eslint-config",
  "overrides": [
    {
      "files": ["lib/setupTests.ts", "lib/test-utils.ts"],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true
          }
        ]
      }
    }
  ]
}
