.mtfh-date-input {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, minmax(0px, 1fr));

  .lbh-form-group & {
    margin-top: 0;
  }

  .lbh-error-message + & {
    margin-top: 0.375rem;
  }
}
